* {
	box-sizing: border-box;
}
body{
	background-color: black;
	overflow: hidden;
}
table{
	display: block;
	background-color: rgba(255,255,255,0.1);
	position: absolute;
	left:0;
	top:0;
	height: 100vh;
	color: #FFF;
	overflow-y: auto;
	z-index: 300;
}
svg{
	position: absolute;
	right:0;
}
#highest_score_container{
	text-align: center;
	width: 400px;
	height: 250px;
	position: absolute;
	background: rgba(256, 256, 256, 0.6);
	right: 100px;
	top: 50px;
	z-index: 300;
}

#highest_score_container > table {
	width: 100%;
}